* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Corpo da página 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f8fc;
    height: 100vh;
    margin: 0;
}
*/
h1 {
    margin: 0; 
    font-size: 1.5rem; 
}

.content {
    padding: 1rem; 
    margin: 0; 
}



h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
}

.grades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

body{
    background-color: #f6f8fc;
}

.content {
    padding: 2rem;
    background-color: white;
}


.grades2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

body{
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-color: white;
}


.grades3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

body{
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-color: white;
}


.grades4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

