.grade {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 2rem 1rem;
    background-color: #49D0B0;
    border-radius: 1rem;
    color: #fff;
}


/* Corrigindo o alinhamento dos detalhes internos */
.grade .number {
    text-align: right;
    opacity: 0.7;
    color: #fff;
    font-size: 1.2rem;
}

.grade .name {
    color: #fff;
    margin: 0.25rem 0;
    font-size: 1.5rem;
}

.grade .detail {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Tipos de conversão */
.grade .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.grade .detail .type {
    background-color: #61e1ca;
    color: #fff;
    padding: 0.3rem 1rem;
    margin: 0.425rem 0;
    font-size: 0.965rem;
    border-radius: 1rem;
}

/* Imagem dentro do card */
.grade .detail img {
    max-width: 100px;
    height: auto;
}

/* Espaçamento entre os cards */
.grades {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr; /* Padrão: 1 coluna */
    list-style: none;
}

/* Media Queries para responsividade */
@media screen and (min-width: 500px) {
    .grades {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 800px) {
    .grades {
        grid-template-columns: 1fr 1fr;
    }


}

 .grade2 {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 2rem 1rem;
    background-color: #1E90FF;
    border-radius: 1rem;
    color: #fff;

}

.grade2 .number2 {
    text-align: right;
    opacity: 0.7;
    background-color: #1E90FF;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.2rem;
}

.grade2 .name2   {
    color: #fff;
    margin: .25rem;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.grade2 .detail2 {
    width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.grade2 .detail2 .types2 {
    padding: 0;
    margin: 0;
    list-style: none;
}

.grade2 .detail2 .types2 .type2 {

    background-color: #4169E1	;
    color: #fff;
    padding: 0.3rem 1rem;
    margin: .425rem 0;
    font-size: .965rem;
    border-radius: 1rem;
}

.grade2 .detail2 img {
    max-width: 110px;
    height: auto;
    
}

@media screen and (min-width: 992px) {
    .content2{
     max-width: 992px;
     margin: 1rem;
     height: auto;
     border-radius: 1rem;
   }
 }

@media screen and (min-width: 400px) {
    .grades2{
     grid-template-columns: 1fr;
   }
 }

@media screen and (min-width: 500px) {
    .grades2{
     grid-template-columns: 1fr 1fr;
   }
 }

@media screen and (min-width: 730px) {
    .grades2{
     grid-template-columns: 1fr 1fr 1fr;
   }
 }





 .grade3 {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 2rem 1rem;
    background-color: #FFA500;
    border-radius: 1rem;
    color: #fff;

}

.grade3 .number3 {
    text-align: right;
    opacity: 0.7;
    background-color: #FFA500;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.2rem;
}

.grade3 .name3   {
    color: #fff;
    margin: .25rem;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.grade3 .detail3 {
    width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.grade3 .detail3 .types3 {
    padding: 0;
    margin: 0;
    list-style: none;
}

.grade3 .detail3 .types3 .type3 {

    background-color: #FF8C00;
    color: #fff;
    padding: 0.3rem 1rem;
    margin: .425rem 0;
    font-size: .965rem;
    border-radius: 1rem;
}

.grade3 .detail3 img {
    max-width: 110px;
    height: auto;
    
}

@media screen and (min-width: 992px) {
    .content3{
     max-width: 992px;
     margin: 1rem;
     height: auto;
     border-radius: 1rem;
   }
 }

@media screen and (min-width: 400px) {
    .grades3{
     grid-template-columns: 1fr;
   }
 }

@media screen and (min-width: 500px) {
    .grades3{
     grid-template-columns: 1fr 1fr;
   }
 }

@media screen and (min-width: 730px) {
    .grades3{
     grid-template-columns: 1fr 1fr 1fr;
   }
 }



 .grade4 {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 2rem 1rem;
    background-color: #DC143C;
    border-radius: 1rem;
    color: #fff;

}

.grade4 .number4 {
    text-align: right;
    opacity: 0.7;
    background-color: #DC143C;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.2rem;
}

.grade4 .name4  {
    color: #fff;
    margin: .25rem;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.grade4 .detail4 {
    width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.grade4 .detail4 .types4 {
    padding: 0;
    margin: 0;
    list-style: none;
}

.grade4 .detail4 .types4 .type4 {

    background-color: #8B0000;
    color: #fff;
    padding: 0.3rem 1rem;
    margin: .425rem 0;
    font-size: .965rem;
    border-radius: 1rem;
}

.grade4 .detail4 img {
    max-width: 110px;
    height: auto;
    
}

@media screen and (min-width: 992px) {
    .content3{
     max-width: 992px;
     margin: 1rem;
     height: auto;
     border-radius: 1rem;
   }
 }

@media screen and (min-width: 400px) {
    .grades3{
     grid-template-columns: 1fr;
   }
 }

@media screen and (min-width: 500px) {
    .grades3{
     grid-template-columns: 1fr 1fr;
   }
 }

@media screen and (min-width: 730px) {
    .grades3{
     grid-template-columns: 1fr 1fr 1fr;
   }
 }
